---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Serving products from the Edge</h1>
      <div class="products">
	<span id="products"></span>
      </div>
  </main>
</Layout>